<ons-navigator swipeable var="myNavigator" page="brandList.html"></ons-navigator>
<template id="brandList.html">
    <ons-page ng-controller="BrandsController">
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="mySplitter.left.open()">
                    <ons-icon icon="md-menu"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">
                List Brands
            </div>
            <div class="right">
                <ons-icon style="color: blue;margin-right: 10px;font-size: 20px" icon="fa-plus-circle" ng-click="myNavigator.pushPage('brandAdd.html')"></ons-icon>
            </div>
        </ons-toolbar>
        <div style="text-align: center; opacity: 1">
            <table id="myTable" class="table table-hover" border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="brand in brands">                        
                        <td ng-click="myNavigator.pushPage('brandEdit.html', {data: {id: brand.id}})">{{brand.id}}</td>
                        <td ng-click="myNavigator.pushPage('brandEdit.html', {data: {id: brand.id}})">{{brand.brand_name}}</td>
                        <td>
                            <ons-icon ng-click="onDelete(brand.id)" id={{brand.id}} style="color: red" icon="fa-trash"></ons-icon>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </ons-page>
</template>
<ng-include src="'html/brands/edit.html'"></ng-include>
<ng-include src="'html/brands/add.html'"></ng-include>