<div ng-if="label !== ''">
    <div className="table-responsive table-data" ng-controller="UserController">
        <table className="table">
            <thead>
            <tr>
                <td>Avatar</td>
                <td>UserName</td>
                <td>Position</td>
                <td>Status</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>
                    <div ng-if="user.img !== '' && user.img !== null">
                        <img class="u-avatar" ng-src='{{imgAvatar+user.img}}' class="img-responsive "/>
                    </div>
                    <div ng-if="user.img === '' || user.img === null">
                        <img class="u-avatar" ng-src='{{noImg}}' class="img-responsive "/>
                    </div>
                </td>
                <td>{{user.user_name}}</td>
                <td>{{user.position}}</td>
                <td>
                    <div ng-if="user.status == 0">
                        <span class="status--process">Ready</span>
                    </div>
                    <div ng-if="user.status == 1">
                        <span class="status--denied">Denied</span>
                    </div>
                </td>
                <td>
                    <div ng-controller="diaLog">
                        <span style="color: #20c997; cursor: pointer" tappable ng-click="ShowConfirm()"><i class="fa fa-undo fa-lg"></i></span>
                        <!--<span ng-bind = "Message"></span>-->
                    </div>
                    <!--</div>-->
                    <!--<ons-list-item style="color: #20c997;" ng-click="confirm()" modifier="tappable">-->
                    <!--<i class="fa fa-undo fa-lg"></i>-->
                    <!--</ons-list-item>-->
                    <!--<span style="color: #20c997; cursor: pointer" tappable ng-click="restock()"><i class="fa fa-undo fa-lg"></i></span>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div ng-if="label === ''">
    <span>{{label}}</span>
</div>
