<!DOCTYPE HTML>
<html ng-app="rootApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="./components/loader.js"></script>
  <script src="./lib/angular/angular.min.js"></script>
  <script src="./lib/onsenui/js/onsenui.min.js"></script>
  <script src="./lib/onsenui/js/angular-onsenui.min.js"></script>

  <!--<script src="https://use.fontawesome.com/b4520f3354.js"></script>-->

  <link rel="stylesheet" href="./components/loader.css">
  <link rel="stylesheet" href="./lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="./lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="./assets/style.css">
  <!-- Fontfaces CSS-->
  <link href="./assets/css/font-face.css" rel="stylesheet" media="all">
  <link href="./assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link href="./assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
  <link href="./assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

  <!-- Bootstrap CSS-->
  <link href="./assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

  <!-- Vendor CSS-->
  <link href="./assets/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
  <link href="./assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
  <link href="./assets/vendor/wow/animate.css" rel="stylesheet" media="all">
  <link href="./assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
  <link href="./assets/vendor/slick/slick.css" rel="stylesheet" media="all">
  <link href="./assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
  <link href="./assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <!--<script src="./js/getlistuser.js"></script>-->

  <script>
    // ons.bootstrap()
    //   .controller('UserController', function() {
    //     console.log(users);
    //   });
    // ons.ready(function() {
    //   console.log("Onsen UI is ready!");
    // });

    // if (ons.platform.isIPhoneX()) {
    //   document.documentElement.setAttribute('onsflag-iphonex-portrait', '');
    //   document.documentElement.setAttribute('onsflag-iphonex-landscape', '');
    // }

    ons.bootstrap()
        .controller('UserController', function($scope, $http) {
            this.load = function(page) {
                mySplitter.content.load(page)
                    .then(function() {
                        mySplitter.left.close();
                    });
            };
            $scope.toolbarTitle = 'List Users';

            return $http({
                url: 'http://localhost/api/v1/user',
                method: 'GET',
                headers: {
                    Accept: 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6Imh1bmdodDExODhAZ21haWwuY29tIiwibmFtZSI6Ikh1bmdIVCJ9.Tnmx_FNfQYUOX-QVUux9paDJ3di55tBnGME7vI2vtA0',
                },
            }).
            then(function(response) {
                var url = response.data.payload.baseUrl;
                if(response.data.payload.lstUser.length === 0){
                    $scope.label = 'No results were found!';
                }
                console.log(response.data.payload);
                $scope.users = response.data.payload.lstUser;
                $scope.imgAvatar = url + '/';
                $scope.noImg = url.replace('/uploads/files/users', '/img/not-available.jpg');
            }),
                function(error) {
                    $scope.error = ('Search error: ', error);
                };
        });
  </script>
</head>
<body>

<ons-splitter var="mySplitter" ng-controller="UserController as splitter">
    <ons-splitter-side side="left" width="220px" collapse swipeable>
        <ons-page>
            <ons-list>
                <ons-list-item ng-click="splitter.load('homepage')" tappable>
                    Home
                </ons-list-item>
                <ons-list-item ng-click="splitter.load('settings.html')" tappable>
                    Settings
                </ons-list-item>
                <ons-list-item ng-click="splitter.load('about.html')" tappable>
                    About
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-splitter-side>
    <ons-splitter-content page="homepage"></ons-splitter-content>
</ons-splitter>

<template id="homepage">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="mySplitter.left.open()">
                    <ons-icon icon="md-menu"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">
                {{toolbarTitle}}
            </div>
        </ons-toolbar>
        <p style="text-align: center; opacity: 1; padding-top: 20px;">
            <ng-include src="'html/listuser.html'"></ng-include>
        </p>
    </ons-page>
</template>

<template id="settings.html">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="mySplitter.left.open()">
                    <ons-icon icon="md-menu"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">
                Settings
            </div>
        </ons-toolbar>
    </ons-page>
</template>

<template id="about.html">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="mySplitter.left.open()">
                    <ons-icon icon="md-menu"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">
                About
            </div>
        </ons-toolbar>
    </ons-page>
</template>

</body>
</html>
